<!-- Button trigger modal -->
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="fa fa-filter"></div> Filters
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form id="filter-form">
          <div>{{log interested_in_m}}</div>
          <div>{{log interested_in_f}}</div>
          <div>{{log interested_in_o}}</div>

          <!-- Gender -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="interested_in_m" value="m" id="interested_in_m">
            <label class="form-check-label" for="interested_in_m">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="interested_in_f" value="f" id="interested_in_f">
            <label class="form-check-label" for="interested_in_f">
              Female
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="interested_in_o" value="o" id="interested_in_o">
            <label class="form-check-label" for="interested_in_o">
              Non-binary
            </label>
          </div>

          <!-- Age -->

          <!-- Distance -->
          <div class="form-group">
            <label for="distance">Distance</label>
            <input type="range" name="distance" min="1" max="500" value="100">
            <div id="distance">100 miles</div>
          </div>

          <!-- ... -->
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="filter-btn">Search</button>
      </div>
    </div>
  </div>
</div>
