<!-- Button trigger modal -->
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="fa fa-filter"></div> Filters
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <form id="filter-form">

          <!-- Gender -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="gender" value="m" id="male">
            <label class="form-check-label" for="male">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="gender" value="f" id="female">
            <label class="form-check-label" for="female">
              Female
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="gender" value="o" id="non-binary">
            <label class="form-check-label" for="non-binary">
              Non-binary
            </label>
          </div>

          <!-- Age -->

          <!-- Distance -->
          <div class="form-group">
            <label for="distance">Distance</label>
            <input type="range" name="distance" min="1" max="1000" value="100">
            <div id="distance">100 miles</div>
          </div>

          <!-- ... -->
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="filter-btn">Search</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/filters.js"></script>