<div class="col-sm-6 col-md-4">
  <div class="card mb-3">
    <img src="{{profile_picture_src}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{first_name}} {{last_name}}</h5>
      <p class="card-text">{{description}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>