{{!-- flower notification goes here --}}
{{>navigationbar}}

<div class="container">

{{!-- card for user to see who sent them flowers  --}}
    <div class="card">
  <div class="card-body">
    <h1>Flowers Received!</h1>
  </div>
</div>

{{!-- card for users to see who they matched with --}}
<div class="card">
  <div class="card-body"> 
    <h1>Your Matches!</h1>
  </div>
</div>
</div>