<div class="container">
  <div class="jumbotron jumbrotron-fluid">
            <h1 class="display-4">Welcome to Flowers</h1>
            <p class="lead">The newest dating app on the market. Find people nearby and send the flowers they deserve.</p>
            <hr class="my-4">
            <p>Log in or sign up today!</p>
            <p class="lead">
              <a class="btn btn-outline-success btn-lg" href="/login" role="button">Log In</a>
              <a class="btn btn-outline-success btn-lg" href="/signup" role="button">Sign Up</a>
            </p>
          </div>
</div>