<div class="container">
    <form class='d-flex flex-column justify-content-center align-items-center'>
        <div class="form-group">
            <label class='text-center m-3' for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        </br>
        <div class="form-group">
            <label class='text-center m-3' for="inputPassword5">Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Enter password">
            <small id="passwordHelpBlock" class="form-text text-muted"></small>
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>