<!--  Sidebar/filters -->
{{> filters }}

<div class="container-fluid">
    <div class="row">

        <!--  Users -->
        <div class="col">
            <div class="container">
                <div class="row user-list">
                    {{#each users as |user|}}
                    {{> person user }}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Template -->
<div class="col-sm-4 template user-template">
    <div class="card mb-3">
        <img src="{{profile_picture_src}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{email}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            {{!-- figure out how to connect to invidivual profile when button is clicked --}}
            <a href="/profile/{{id}}" class="btn btn-primary">Go to Profile</a>
            <a href="/profile/{{id}}" class="btn btn-primary">Send Flowers</a>
        </div>
    </div>
</div>