<div id='user-name-div' class='signupQuery'>
    
    <h2> Please enter your first and last name.</h2>

    <form id='user-name-form'>
        <label for='user-firstname'> First Name:</label>
        <input  name='user-fistname' 
                id='user-firstname' 
                placeholder='First name'>
        <label for='user-lastname'> Last Name:</label>
        <input   
                name='user-lastname' 
                id='user-lastname' 
                placeholder='Last name'>
        <button type="submit">Submit</button>
    </form>
</div>
<div id='user-about-div' class='d-none signupQuery'>

    <h2> Tell us about yourself.</h2>

    <form id='user-about-form'>
        <label for='user-age'>What is your age:</label>
        <input 
                name='user-age'
                id='user-age'
                placeholder='Age'>
        <label for='user-gender'>Select gender</label>
        <select required 
               name='user-gender'
               id='user-gender'>
                <option disabled selceted hidden value="" >gender options</option>
                <option value="m">Male</option>
                <option value="f">Female</option>
                <option value="o">Non Binary</option>
        </select>
        <label for='user-bio'> About you:</label>
        <textarea  
                name='user-bio' 
                id='user-bio' 
                placeholder='About you' >
        </textarea>
        
        <label for='user-photo-url'>Enter a photo url</label>
        <input type="text" name="user-photo-url" id="user-photo-url" placeholder='Must be a url for a photo' />
        
        <button type="submit">Submit</button>
    </form>

</div>
<div id='user-signup-div' class='d-none signupQuery'>
    <h2> Signup </h2>

    <form id='user-signup-form'>
        <label for='user-email'> EMail:</label>
        <input   
                name='user-email' 
                id='user-email' 
                placeholder='E-mail address'>
        <label for='user-password'> Password:</label>
        <input   
                name='user-password' 
                id='user-password' 
                placeholder='Password'>
    <button type="submit">Submit</button>
    </form>
</div>
<script src="/js/signup.js"></script>

{{!-- 
{
      “email”: “test@hotmail.com”,
      “first_name”: “Jane”,
      “last_name”: “Test”,
      “password”: “supersecret”,
      “description”: “I’m a 35 year old fun person who likes music and tv. Looking for a friend for my dog spike”,
      “profile_picture_src”: “https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8d29tYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60”,
      “age”: 35,
      “gender”: “f”,
      “interested_in_m”: true,
      “interested_in_f”: true,
      “interested_in_o”: true,
      “interested_in_min_age”: 20,
      “interested_in_max_age”: 50,
      “latitude”: 34.08929,
      “longitude”: -118.382890
} --}}