<div>
    <h2> Please enter your information</h2>


    <form id='user-signup'>
        <label for='user-email'> EMail:</label>
        <input  type='email' 
                name='user-email' 
                id='user-email' 
                placeholder='E-mail address'>
    </form>

    <h2> Please enter your password of 8 characters or numbers.</h2>


    <form id='user-signup'>
        <label for='user-password'> Password:</label>
        <input  type='password' 
                name='user-password' 
                id='user-password' 
                placeholder='Password'>
    </form>
    
    <h2> Please enter your first and last name.</h2>

    <form id='user-name'>
        <label for='first_name''last_name'> Full Name:</label>
        <input  type='full name' 
                name='user-name' 
                id='user-name' 
                placeholder='Full name'>
    </form>

    <h2> Tell us about yourself.</h2>

    <form id='user-bio'>
        <label for='user-bio'> About you:</label>
        <input  type='bio' 
                name='user-bio' 
                id='user-bio' 
                placeholder='About you'>
        <label for='user-age'>What is your age:</label>
        <input type='age'
                name='user-age'
                id='user-age'
                placeholder='Age'>
        <label for='user-gender'>Gender</label>
        <input type='gender'
               name='user-gender'
               id='user-gender'
               placeholder='Gender'> 
                <option value="m">Male</option>
                <option value="f">Female</option>
                <option value="o">Non Binary</option>
    </form>

</div>


{{!-- 
{
      “email”: “test@hotmail.com”,
      “first_name”: “Jane”,
      “last_name”: “Test”,
      “password”: “supersecret”,
      “description”: “I’m a 35 year old fun person who likes music and tv. Looking for a friend for my dog spike”,
      “profile_picture_src”: “https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8d29tYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60”,
      “age”: 35,
      “gender”: “f”,
      “interested_in_m”: true,
      “interested_in_f”: true,
      “interested_in_o”: true,
      “interested_in_min_age”: 20,
      “interested_in_max_age”: 50,
      “latitude”: 34.08929,
      “longitude”: -118.382890
} --}}