<strong>{{first_name}} {{last_name}}</strong>
<hr>

<ul>
  {{>test-dashboard-user}}

  <hr>
  <li>users_interests:</li>
  
  <ul>
    {{#each users_interests}}
    <li>{{interest_name}}</li>
    {{/each}}
  </ul>

  <hr>
  <li>received_flowers_from:</li>
  <ul>
    {{#each received_flowers_from}}
      {{>test-dashboard-user}}
      <hr>
    {{/each}}
  </ul>

  <hr>
  <li>user_matches:</li>
  <ul>
    {{#each user_matches}}
      {{>test-dashboard-user}}
      <hr>
    {{/each}}
  </ul>
</ul>