label {
    display: block;
}

.template {
    display: none;
}

.a {
  color:#e9f899;
}

.navbar {
    position: sticky; 
    top: 0;
    background-image: url("./icons/kmohckdndcv.png") ;
    z-index: 99999;
}

.nav-link {
  color: #f5d325;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  color:  #e9f899;
}

.navbar-brand:hover {
  color:  #e9f899;
}

.btn-no-style:hover {
  color:  #e9f899;
}

.navbar-brand {
  color: #f5d325;
  font-weight: bold; 
  font-size: 1.75rem;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: none;
}
.navbar-toggler .custom-toggler {
  padding: .25rem .75rem;
  font-size: 1.75rem;
  line-height: 1;
  background-color: #ff6497;
  background-image: url(./icons/yeelllow_Flower.png);
  border: 1px solid #c840fd;
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out;
}

.navbar-toggler-icon .custom-toggler {
  background-image: url('./css/icons/yeelllow_Flower_1552356 copy.png');
}

.in-doc-link {
  color: #ff6497;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

.in-doc-link:hover {
  color: #c840fd;
  font-weight: bold; 
}

.card {
  min-height: 250px;
}

body {
    background-color: #FDF2E7;
}

.form-check-input {
    background-color: #e91e6329;
    border-color: #ff6497;
    
}  

.form-check-input:checked {
    box-shadow: #ff6497; 
    background-color: #ff6497;
}

.form-check-input:focus {
    border-color: #ff6497;
    outline: none;
    box-shadow: none;
    /* background-image: url(flowers/utils/icons/noun_Flower_1552356.svg); */
}

.btn-primary:hover {
    color: rgb(0, 0, 0);
    background-color: #c840fd;
    border-color: #e91e6329;    
    box-shadow: none;
}

.btn-primary:active {
  color: rgb(0, 0, 0);
  background-color: #c840fd;
  border-color: #e91e6329;
  box-shadow: none;
}

.btn-primary:focus {
  color: rgb(0, 0, 0);
  background-color: #ff6497;
  border-color: #e91e6329;
  box-shadow: none;
}

.btn-primary {
    color: rgb(0, 0, 0);
    background-color: #ff6497;
    border-color: #3D2E2B;
    box-shadow: none;
}

.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem gold;
  background-color: #c840fd;
}

.btn-no-style {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  text-align: left;
}

.dashboard-btn {
  width: 40%;
}

.dashboard-img {
  width: 100;
  aspect-ratio: 3/4;
  object-fit: cover;
  height: 400px;
}


.csl::before {
  content: ", ";
}

.csl:first-child::before {
  content: " ";
}

.form-select{
    width: 16%;
}
.form-control {
    background-color: #FDF2E7;
    border: 1px solid #f0c5c2;
}
.form-control:focus {
    background-color: #f0c5c2;   
    transition: background-color .45s cubic-bezier(0.68, -0.55, 0.27, 1.55),box-shadow .15s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    border-color: #ff00de;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(211 13 253 / 25%);
}
input:-internal-autofill-selected {
    background-color:#f0c5c2 !important;
}

.my-texts {
  background-color:#ff6497;
  border-radius: 20px 20px 0 20px;
}

.match-texts {
background-color: aquamarine;
border-radius: 20px 20px 20px 0;
}

.texts {
  border: solid lightslategray 1px
}

.chat-box {
  border: solid lightslategray 1px;
  height: 67vh;
  overflow-y: scroll;
  overflow-anchor: none;
}

.chat-form {
  border: solid lightslategray 1px;
}

.btn-send {
  height: 38px;
  margin-right: 8px;
  align-self: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fae8e0;
  color: white;
  text-align: center;
}


#signup-modal {
  height: 100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0,0.5);
  z-index: 1000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
} 

#modal-stuffs-container {
  height: 500px;
  width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 60px solid transparent;
  padding: 15px; 
  border-image: url(./flowers-borders-png-5613.png) 160 round;
}

#modal-close-button {
  border: silver 1px solid;
  border-radius: 1em;
  height: 4em;
  width: 6em;
  color: purple;
  background-image: linear-gradient(lightgreen, lightyellow, lightpink);
}
#modal-close-button:hover {
  border: silver 3px solid;
  border-radius: 1em;
  height: 4.5em;
  width: 6.5em;
  color: rgb(255, 0, 255);
  transition: background-image .45s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-image: linear-gradient(lightpink, lightyellow, lightgreen);
}

.search-img {
  aspect-ratio: 3/4;
  object-fit: cover;
  height: 400px;
}

.card-body-text {
  height: 100px;
  overflow-y: scroll;
}

.card-text {
  line-height: 1.8;
}

.log-in-btn {
  width: 103.188px
}

.form-text {
  margin-top: 16px;
}

#updateProfilebtn {
  margin-bottom: 32px;
}

@media only screen and (min-width: 625px) {

  .jumbotron-main {
    height: calc(100vh - 108px);
    border: 60px solid transparent;
    padding: 15px; 
    border-image: url(./flowers-borders-png-5613.png) 160 round;
    overflow-y: auto;
  } 

  .footer-text::after {
    content: "flowers borders png transparent by transparentpng.com is licensed under CC BY 4.0"
  }
}

@media only screen and (max-width: 625px) {
  .footer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .slide-down {
    position: sticky;
    top: 0;
  }
}