label {
    display: block;
}
.template {
    display: none;
}
.navbar {
    position: fixed-right; 
    background-color: #3D2E2B;
}

.navbar-brand {
  color: #fae8e0; 
}

.jumbotron-main {
  border: 60px solid transparent;
  padding: 15px; 
  border-image: url(./flowers-borders-png-5613.png) 160 round;
}

body {
    background-color: #FDF2E7;
}

.form-check-input {
    background-color: #e91e6329;
    border-color: #ff6497;
    
}  

.form-check-input:checked {
    background-color: #e91e6329;
    box-shadow: #ff6497;
    background-image: url('./icons/noun_Flower_1552356.svg');
}

.form-check-input:focus {
    border-color: #e91e6329;
    border-color: #ff6497;
    /* background-image: url(flowers/utils/icons/noun_Flower_1552356.svg); */
}

.btn-primary:hover {
    color: rgb(0, 0, 0);
    background-color: #feecc3;
    border-color: #e91e6329;    
}
.btn-primary {
    color: rgb(0, 0, 0);
    background-color: #C1D9B7;
    border-color: #3D2E2B;    
}
.btn-no-style {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  text-align: left;
}

.dashboard-btn {
  width: 40%;
}

.dashboard-img {
  width: 100;
  height: auto;
}

.span-list:nth-of-type(n + 2)::before {
  content: ", ";
}

.form-select{
    width: 16%;
}
.form-control {
    background-color: #FDF2E7;
    border: 1px solid #f0c5c2;
}
.form-control:focus {
    background-color: #f0c5c2;   
    transition: background-color .45s cubic-bezier(0.68, -0.55, 0.27, 1.55),box-shadow .15s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    border-color: #ff00de;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(211 13 253 / 25%);
}
input:-internal-autofill-selected {
    background-color:#f0c5c2 !important;
}

.my-texts {
  background-color:#ff6497;
  border-radius: 20px 20px 0 20px;
}

.match-texts {
background-color: aquamarine;
border-radius: 20px 20px 20px 0;
}

.texts {
  border: solid lightslategray 1px
}

.chat-box {
  border: solid lightslategray 1px;
  height: 70vh;
  overflow-y: scroll;
  overflow-anchor: none;
}

.chat-form {
  border: solid lightslategray 1px;
}

.btn-send {
  height: 38px;
  margin-right: 8px;
  align-self: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fae8e0;
  color: white;
  text-align: center;
}


#signup-modal {
  height: 100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0,0.5);
  z-index: 1000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px;
} 

#modal-stuffs-container {
  height: 500px;
  width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 60px solid transparent;
  padding: 15px; 
  border-image: url(./flowers-borders-png-5613.png) 160 round;
}

#modal-close-button {
  border: silver 1px solid;
  border-radius: 1em;
  height: 3em;
  width: 5em;
  color: purple;
  background-image: linear-gradient(lightgreen, lightyellow, lightpink);
}
#modal-close-button:hover {
  border: silver 3px solid;
  border-radius: 1em;
  height: 4em;
  width: 6em;
  color: rgb(255, 0, 255);
  transition: background-image .45s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-image: linear-gradient(lightpink, lightyellow, lightgreen);
}